- content_for(:title, t('license_type').pluralize.humanize)

- content_for(:index_tab, url_for([@organisation, @license_type]))
- content_for(:new_tab, url_for([@organisation, @license_type]))

= render 'layouts/heading'
= render 'layouts/tabs'