/ Announcements

=render 'head'

- if @announcements.empty?
  %p= empty_msg('announcement', '')
- else
  - @announcements.each do |announcement|
    %ul.unstyled
      %li
        .well
          .row
            .span11
              / what did they do?
              = announcement.message
              %br
              .muted
                from
                = announcement.starts_at
                to
                = announcement.ends_at
            .span1
              %a{ :title => "xml", :href => edit_announcement_path(@announcement) }
                .glyphicon.glyphicon-pencil
              %a{ :title => "xml", :href => edit_announcement_path(@announcement) }
                .glyphicon.glyphicon-pencil