- content_for(:title, t('support_level').pluralize.humanize)

- content_for(:list_button_path, support_levels_path)
- content_for(:new_button_path, new_support_level_path)
- content_for(:history_button_path, support_levels_path)

= render 'layouts/heading'
= render 'layouts/tabs'