- content_for(:title, t('support_levels').humanize)
- content_for(:index_tab, support_levels_path)
- content_for(:new_tab, new_support_level_path)


= render 'layouts/heading'
= render 'layouts/tabs'

%p Not implemented yet