- if @comments.empty?
  %p= empty_msg('comment', '')
- else
  - @comments.each do |r|
    %ul.unstyled
      %li
        %hr
          .row-fluid
            .muted
              = t('anonymoususer').humanize
              added:
          .row-fluid
            = simple_format r.content
          .row-fluid
            .muted
              / who and when did they do it?
              on
              = r.created_at