- content_for(:title, t('person').pluralize.humanize)
- content_for(:description, t('person_description').humanize)

- content_for(:index_tab, people_path)
- content_for(:new_tab, new_person_path)

= render 'layouts/heading'
= render 'layouts/tabs'