created
- if activity.trackable
  = link_to activity.trackable.name, activity.trackable
- else
  something that was later deleted
in
= link_to activity.trackable_type.classify, activity.trackable_type.tableize
