- content_for(:title, t('service_level').pluralize.humanize)

- content_for(:index_tab, service_levels_path)
- content_for(:new_tab, new_service_level_path)
- content_for(:history_button_path, service_levels_path)

= render 'layouts/heading'
= render 'layouts/tabs'