- content_for(:title, t('relationship').pluralize.humanize)

- content_for(:index_tab, relationships_path)
- content_for(:new_tab, new_relationship_path)
- content_for(:history_button_path, relationships_path)

= render 'layouts/heading'
= render 'layouts/tabs'