- content_for(:title, t('manufacuturer').pluralize.humanize)

- content_for(:list_button_path, manufacuturers_path)
- content_for(:new_button_path, new_manufacuturer_path)

= render 'layouts/heading'
= render 'layouts/tabs'