- content_for(:title, t('organisation').pluralize.humanize)

- content_for(:index_tab, organisations_path)
- content_for(:new_tab, new_organisation_path)

= render 'layouts/heading'
= render 'layouts/tabs'