- content_for(:edit_button_path, edit_organisation_path)
- content_for(:show_button_path, organisation_path(@organisation))
- content_for(:notes_button_path, notes_path(@organisation))

= render 'head'

= render "notes/notes"
= render "notes/form"
