- content_for(:title, @organisation.reference)

.content
  = render 'layouts/recordnav', :info => @environment

%h1= yield(:title)
%h2= @organisation.name

.content
  = render 'layouts/recordcrud', :info => @organisation
