%h1 Statistics

%table.table.table-hover.table-condensed
  %tbody
    %thead.info
      %th avatar
      %th one
      %th two
      %th three
      %th four
    %tr.info
      %td RHEL
      %th Blah
      %th
        .progress.progress-info
          .bar{ :style=> "width: 25%;"}
      %th 34 / 40
    %tr.success
      %td RHEL
      %th Blah
      %th
        .progress.progress-success
          .bar{ :style=> "width: 50%;"}
      %th 34 / 80
    %tr.warning
      %td RHEL
      %th Blah
      %th
        .progress.progress-warning
          .bar{ :style=> "width: 80%;"}
      %th 34 / 80
    %tr.error
      %td RHEL
      %th Blah
      %th
        .progress.progress-danger
          .bar{ :style=> "width: 90%;"}
      %th 1300 / 2000
    %tr.error
      %td RHEL
      %th Blah
      %th
        .progress.progress-danger
          .bar{ :style=> "width: 100%;"}
      %th 34 / 40
