/ DeviceModels
- content_for(:title, t('support_levels').humanize)
- content_for(:list_button_path, support_levels_path)
- content_for(:new_button_path, new_support_level_path)


= render 'layouts/heading'
= render 'layouts/tabs'

%p Not implemented yet
