- content_for(:title, Rails.application.class.parent_name.downcase)

.hero-unit
  %h1
    = yield(:title)
  %p.text-right Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  %a.btn.btn-info.btn-large.pull-right Learn More