- content_for(:title, Rails.application.class.parent_name.downcase)

.jumbotron
  %h1
    = yield(:title)
  %p.lead.text-justify
    OneMDL is a ruby on rails based application designed to collate information
    about IT assets. It is designed to be most useful to System Administrators
    and Service Desk personal.
  %p.text-justify
    Here's an icon test
    %span.glyphicon.glyphicon-star
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %p.text-right
    = link_to "Learn More", about_path, class: "btn btn-primary btn-lg", role: "button"
  