- content_for(:title, Rails.application.class.parent_name.downcase)

.hero-unit
  %h1
    = yield(:title)
  %p.text-right Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  = link_to "Learn More", about_path, class: "btn btn-info btn-large pull-right"
  