- content_for(:title, t('device_type').pluralize.humanize)

- content_for(:index_tab, device_types_path)
- content_for(:new_tab, new_device_type_path)

= render 'layouts/heading'
= render 'layouts/tabs'