- content_for(:title, t('device_types').humanize)

- content_for(:list_button_path, device_types_path)
- content_for(:new_button_path, new_device_type_path)

= render 'layouts/heading'
= render 'layouts/tabs'