- content_for(:title, t('supportlevel').humanize)
- content_for(:heading, 'Edit ' + t('supportlevel').humanize)

= render 'layouts/heading'
= render 'layouts/breadcrumb'
= render 'layouts/tabs'

= render 'form'
