- content_for(:title, t('network_interface').pluralize.humanize)

- content_for(:index_tab, network_interfaces_path)
- content_for(:new_tab, new_network_interface_path)

= render 'layouts/heading'
= render 'layouts/tabs'