- content_for(:title, t('address').pluralize.humanize)
- content_for(:description, t('address_description').humanize)

- content_for(:index_tab, addresses_path)
- content_for(:new_tab, new_address_path)

= render partial: 'layouts/heading'
= render partial: 'layouts/tabs'