- content_for(:title, t('environment').pluralize.humanize)

- content_for(:list_button_path, environments_path)
- content_for(:new_button_path, new_environment_path)

= render 'layouts/heading'
= render 'layouts/tabs'