=render 'head'

%table.table.table-hover.table-condensed
  %tbody
    %thead
      %th= t('environment').humanize
      %th= t('description').humanize
    - @environments.each do |e|
      %tr
        %td= link_to e.environment, e
        %td= e.description