- content_for(:title, t('operating_system_family').pluralize.humanize)

- content_for(:index_tab, operating_system_families_path)
- content_for(:new_tab, new_operating_system_family_path)

= render 'layouts/heading'
= render 'layouts/tabs'