- content_for(:title, t('operating_sytem_family').pluralize.humanize)

- content_for(:index_tab, operating_sytem_families_path)
- content_for(:new_tab, new_operating_sytem_family_path)

= render 'layouts/heading'
= render 'layouts/tabs'