- content_for(:title, t('network_use').pluralize.humanize)

- content_for(:list_button_path, network_uses_path)
- content_for(:new_button_path, new_network_use_path)

= render 'layouts/heading'
= render 'layouts/tabs'