- content_for(:title, t('network_use').pluralize.humanize)

- content_for(:index_tab, network_uses_path)
- content_for(:new_tab, new_network_use_path)

= render 'layouts/heading'
= render 'layouts/tabs'