@import "bootstrap";
body { padding-top: 60px; }

$grayMediumLight: #eaeaea;
$grayLight: #eeeeee;
$grayDarker: #aaaaaa;

//always show the scroll bar
html {overflow-y: scroll;}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  // move footer items to the right
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* This is for the small render speed number in the bottom right corner */
p.render {
  font-size: x-small;
}