- content_for(:title, t('manufacturer').pluralize.humanize)

- content_for(:list_button_path, manufacturers_path)
- content_for(:new_button_path, new_manufacturer_path)

= render 'layouts/heading'
= render 'layouts/tabs'