= yield



-#          = render 'layouts/flash_messages'
-#    %= Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
-#      .row
-#        .alert.text-center
-#          <%= div_for announcement do %>
-#            <%= announcement.message %>        
-#            <%= link_to "x", hide_announcement_path(announcement), class: "close", remote: true %>
-#          <% end %>
-#        </div>
-#      </div>
-#    <% end %> 
            