%footer.footer
  =link_to 'powered by omdl', "http://onemdl.com"
  %nav
    %ul.nav
      %li= link_to t('about').humanize, about_path
      %li= link_to t('contact').humanize, contact_path
      %li= link_to t('faq').upcase, faq_path
      %li= link_to t('news').humanize, "#"