.page-header
  -#holder for help popover
  %small.muted.pull-right
    = link_to '#'
    .glyphicon.glyphicon-question-sign
  %h1
    = yield(:title)
  / %small.muted= yield(:description)
  / %a.btn.close{:"data-dismiss" => "alert"} got it
  