%ul.nav.nav-list
  %li.nav-header
    Navigation
  %li{ :class => ("active" if controller_name == "organisations") }
    = link_to t('organisations').humanize, organisations_path
  %li.divider-vertical
  %li.nav-header
    Supporting Data
  %li{ :class => ("active" if controller_name == "support_levels") }
    = link_to t('supportlevels').humanize, support_levels_path
  %li{ :class => ("active" if controller_name == "environments") }
    = link_to t('environments').humanize, environments_path