%p
  .btn-group
    %span.btn.btn-mini
      %i.icon-arrow-left
    %span.btn.btn-mini
      %i.icon-arrow-right
%p
  .btn-group
    = link_to "Show All", "#", :class => "btn btn-info"    
  .btn-group
    = link_to "Create", "#", :class => "btn"  
    = link_to "Edit", "#", :class => "btn"
  .btn-group
    = link_to "Delete", "#", :class => "btn btn-danger"
