<ul class="nav nav-tabs">
  <li class="active"><a href="#"><i class="icon-th-list"></i> List</a></li>
  <li class=""><a href="#"><i class="icon-plus"></i> New</a></li>
  <li class=""><a href="#"><i class="icon-share-alt"></i> Export</a></li>
  <li class=""><a href="#"><i class="icon-book"></i> History</a></li>
</ul>
